<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
	<title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= respuesta %></h1>
    <a href="/quizes/question">Inténtelo otra vez</a>
  </body>
</html>
